<div class="row">
  <div class="large-2 columns">&nbsp;</div>
  <div class="large-8 columns">
  	<%= render "searches/new" %>

  	<h1>Movies You've Watched</h1>
  	<% if @movies %>
  		<ul>
  		<% @movies.each do |movie| %>
  			<li>
  				<%= movie.title %>
  				<img src="<%= movie.pic_url %>">
  			</li>
  		<% end %>
  		</ul>
  	<% end %>
  </div>
  <div class="large-2 columns">&nbsp;</div>
</div>


